{% extends "registration/base.html" %}
{% load i18n %}

{% block registration_content %}
<form method="post" action="{% url 'create_account' %}">
    {% csrf_token %}
    <h5 class="registration-title">{% trans 'Create your new account' %}</h5>
    <div class="form-row">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
        <p class="errornote animate__animated animate__headShake">
            {% trans 'This username already exist' %}
        </p>
        {% endif %}
    </div>
    <div class="form-row">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="form-row">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div class="form-row">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans 'Create new account' %}</button>
</form>

{% endblock registration_content %}
