{% extends base_template %}

{% load i18n %}

{% block title %}
    <title>{% trans 'Aldeias' %}</title>
{% endblock %}

{% block content %}
    <h2 class="page-title">{% trans 'Aldeias' %}</h2>
    <p>{% trans 'Aldeias in suco Obulo' %}</p>
    <p>{% trans 'Coming soon...!' %}</p>
    <div class="obulo">
    {% for post in posts %}
        {% if post.page.name == 'Aldeias' or post.page.name == 'Aldeia sira' %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            <div class="col-md-6">
                <h5>{{ post.title }}</h5>
                <p>{{ post.overview }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}