{% extends base_template %}

{% load i18n %}

{% block title %}
    <title>{% trans 'People & Culture' %}</title>
{% endblock %}

{% block content %}
    <h2 class="page-title">{% trans 'People & Culture' %}</h2>
    <p>{% trans 'Pople & Culture in suco Obulo' %}</p>
    <p>{% trans 'Coming soon...!' %}</p>
    <div class="obulo">
    {% for post in posts %}
        {% if post.page.name == 'People & Culture' or post.page.name == 'Ema & Kultura' %}
        <div class="row">
            <div class="col-md-6">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% else %}
                <p>{% trans 'No image found' %}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h5>{{ post.title }}</h5>
                <p>{{ post.overview }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}