{% extends 'base.html' %}

{% block header %}
<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a href="/" class="navbar-brand">Obulo</a>
        <div class="ms-auto">
            <a
                hx-get="/"
                hx-swap="outerHTML"
                hx-target="#index-content"
                hx-push-url="true"
            >
            About
            </a> |
            <a
                hx-get="{% url 'nature_and_tourism' %}"
                hx-swap="outerHTML"
                hx-target="#index-content"
                hx-push-url="true"
            >
            Nature & Tourism
            </a> |
            <a
                hx-get="{% url 'people_and_culture' %}"
                hx-swap="outerHTML"
                hx-target="#index-content"
                hx-push-url="true"
            >
            People & Culture
            </a> |
            <a
                hx-get="{% url 'aldeias' %}"
                hx-swap="outerHTML"
                hx-target="#index-content"
                hx-push-url="true"
            >
            Aldeias
            </a> |
            <a  href="{% url 'create_account' %}">Sign up</a> |
            <a  href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
<footer class="bg-dark text-center mt-auto text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" target="_blank" href="https://onydev.pykafe.org/">onydev.pykafe.org</a> | Resource: <a  class="text-white" href="https://de.wikipedia.org/wiki/Obulo" target="_blank">wikipedia.org</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}