{% extends 'base.html' %}

{% block header %}
<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a href="/" class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a  href="{% url 'create_account' %}">Sign Up</a>
    </div>
</nav>
{% endblock %}

{% block footer %}
<footer class="bg-dark text-center mt-auto text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" target="_blank" href="https://pykafe.org/">pykafe.org</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}