{% extends base_template %}

{% load static %}

{% block title %}
    <title>Suco Obulo</title>
{% endblock %}

{% block content %}
    <h2>Welcome to suco Obulo</h2>
    <div class="obulo">
    {% for post in posts %}
        {% if post.page.name == 'About' %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            <div class="col-md-6">
                <h5>{{ post.title }}</h5>
                <p>{{ post.overview }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}