{% extends base_template %}

{% load i18n %}
{% load static %}

{% block og_meta_tags %}
    <meta property="og:title" content="{% trans 'Welcome to Obulo' %}">
    <meta property="og:description" content="{% trans "Let's promote our suco to the world" %}">
    <meta property="og:url" content="https://obulo.onorio.dev/">
    <meta property="og:image" content="https://obulo.onorio.dev/media/obulo_images/lokal_market.jpg">
{% endblock %}

{% block twitter_meta_tags %}
    <meta name="twitter:title" content="{% trans 'Welcome to Obulo' %}">
    <meta name="twitter:description" content="{% trans "Let's promote our suco to the world" %}">
    <meta name="twitter:image" content="https://obulo.onorio.dev/media/obulo_images/lokal_market.jpg">
{% endblock %}

{% block title %}
    <title>{% trans 'Welcome to Obulo' %}</title>
{% endblock %}

{% block content %}
    <h2 class="page-title">{% trans 'Welcome to Obulo' %}</h2>
    <div class="obulo">
    {% for post in posts %}
        {% if post.page.name == 'Home' or post.page.name == 'Uma' %}
        <div class="row">
            <div class="col-12 col-md-6 image-column">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid img-cover">
                {% else %}
                    <p>{% trans 'No image found' %}</p>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 text-column">
                <h5>{{ post.title }}</h5>
                <p>{{ post.overview|safe }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}