{% extends base_template %}

{% load i18n %}
{% load static %}

{% block title %}
    <title>{% trans 'Welcome to Obulo' %}</title>
{% endblock %}

{% block content %}
    <h2 class="page-title">{% trans 'Welcome to Obulo' %}</h2>
    <div class="obulo">
    {% for post in posts %}
        {% if post.page.name == 'Home' or post.page.name == 'Uma' %}
        <div class="row">
            <div class="col-md-6">
                {% if post.image %}
                <img src="{{ post.image.url }}" title="test" alt="{{ post.title }}">
                {% else %}
                <p>{% trans 'No image found' %}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h5>{{ post.title }}</h5>
                <p>{{ post.overview }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}